@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page {
    background-image: url("../images/bkgdOFC.jpg");
}

.game-board {
    background-image: linear-gradient(#aff, #acf);
    border-bottom: 10px solid #f7f786;
    height: 550px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
}

h3 {
    background-color: #0b2c09;
    border: #101111;
    border-radius: 20px;
    color: #f5f8f9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    margin: 3px;
    padding-left: 6px;
    -webkit-font-smoothing: none;
    width: 150px;
}

.jump {
    animation: jump 500ms ease-out;
}

.restart {
    background-color: #4ce42c;
    border: 0;
    color: #fff;
    cursor: pointer;
    box-shadow: inset -4px 2px 1px 1px #21780f, inset -4px -2px 1px 1px #c0f5b5, inset 4px 0px 1px 1px #c0f5b5;
    font-size: medium;
    font-family: 'Press Start 2P', cursive;
    height: 50px;
    padding: 8px;
    position: absolute;
    width: 135px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.restart:hover {
    background-color: #64fc3c;
}

.clouds {
    position: absolute;
    width: 550px;
    z-index: 0;
}

.cloudsStarted {
    animation: clouds-animation 15s infinite linear;
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 165px;
    }

    100% {
        bottom: 0;
    }
}

.Mario {
    bottom: 0;
    position: absolute;
    width: 150px;
    z-index: 2;
}

.pipe {
    bottom: 0;
    position: absolute;
    width: 65px;
}

.pipeStarted {
    animation: pipe-animation 1.5s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

.rodape {
    font-family: 'Press Start 2P', cursive;
    font-size:  x-large;
    padding: 20px;
    letter-spacing: 4px;
    text-align: center;
}

span {
    border: 0;
    text-shadow: 1px 1px 2px black, 0 0 0.2em black, 0 0 0.2em black;
}

#footerBlue {
    color: #0addf9;
}

#footerGreen {
    color:  #04dc04;
}

#footerRed {
    color: #f73c3c;
}

#footerYellow {
    color: #f8cd31;
}
